<% provide(:title, "Orders") %>
<div class="container-fluid">
  <div class="row">
    <% @orders.each do |order| %>
      <div class="orders col-sm-2 col-md-4">
        <h1>
          Order # <%= order.id %>:
          <% if order.product %>
            <%= link_to order.product.name, order %>
          <% else %>
            <p>No Orders</p>
          <% end %>    
        </h1>
        <p>
        <%= image_tag(order.product.image_url, class: "img-responsive") %>
        </p>
        <p><%= order.product.description %></p>
        <strong><%= number_to_currency(order.product.price, unit: '€', precision: 2) %></strong>
      </div><!-- /col -->
    <% end %>
  </div>
</div>

<br>
