<% cache product do %> 
  <div class="col-md-4">
    <a href="#"><h2><%= product.name %></h2></a>
    <%= link_to product_path(product) do %>
    <%= image_tag(product.image_url, class: "img-responsive") if product.image_url %>
    <% end %>
    <p><%= product.description %></p>
    <p>Colour: <%= product.colour %></p>
    <p> Only <%= number_to_currency(product.price, unit: '€', precision: 2) %></p> 
    <%= link_to 'Show', product, class: "btn btn-default" %> <%= link_to 'Edit', edit_product_path(product), class: "btn btn-default" %> <%= link_to 'Destroy', product, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
      