<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="einleitung">
  <p>The following bicycles are currently in stock:</p>
</div>

<div class="container-fluid">
    <div class="row">
      <%= render partial: "product" %>
    </div> <!-- end row -->
  </div> <!-- end container -->

<div>
  <p>Here is a table from our current stock:</p>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>String</th>
      <th>Colour</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.string %></td>
        <td><%= product.colour %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <p>We look forward to your order.</p>

</div>


<%= link_to 'New Product', new_product_path %>


