<% provide(:title, "Bike Details") %>

<p id="notice"><%= notice %></p>

<div class="container-fludi">
  <div class="row" data-product-id="<%= @product.id %>">
    <div class="col-md-6">
      <p>
      <% if @product.image_url.present? %>
        <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "@product.image_url") %>
      <% end %>
      </p>
    </div> <!-- end col -->

    <div class="col-md-6 product">
      <% cache @product do %>
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>
      <% end %>
      
      <% cache @product do %>
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
      <% end %>
      
      <% cache @product do %>
      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>
      <% end %>

      <p>
        <strong>Price:</strong>
        <%= number_to_currency(@product.price, unit: '€', precision: 2) %>
      </p>

      <p>
        <strong>Average Rating:</strong> 
        <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div> 
      </p>

      <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>

      <br><br>
      <%= render 'new_comment' %>

    </div> <!-- end col -->
  </div> <!-- end row -->
  <div class="row">
    <div class="col-md-6 sayings">
      <%= render 'comments' %>

      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

      <div class="digg_pagination">
        <%= will_paginate @comments, :container => false %>
      </div>
    </div>
  </div>
  

</div> <!-- end container -->
<br><br>
<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %> |
<%= link_to 'Back', products_path, class: "btn btn-default" %>

<br><br>
