<% provide(:title, "Bike Details") %>

<p id="notice"><%= notice %></p>

<div class="container-fludi">
  <div class="row">
    <div class="col-md-6">
      <p>
      <%= image_tag(@product.image_url, class: "img-responsive") %>
      </p>
    </div> <!-- end col -->

    <div class="col-md-6 product">
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= number_to_currency(@product.price, unit: '€', precision: 2) %>
      </p>

      <p>
        <strong>Average Rating:</strong> 
        <div class="rated" data-score="<%= @product.average_rating %>"></div> 
      </p>
      <br><br>
      <%= render 'new_comment' %>

    </div> <!-- end col -->
  </div> <!-- end row -->
  <div class="row">
    <div class="col-md-6 sayings">
      <%= render 'comments' %>

      <div class="digg_pagination">
        <%= will_paginate @comments, :container => false %>
      </div>
    </div>
  </div>
  

</div> <!-- end container -->
<br><br>
<%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %> |
<%= link_to 'Back', products_path, class: "btn btn-default" %>

<br><br>
