<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bike Shop Demo</title>

     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

  </head>

  <body>

	<nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6" id="navigation">
          <ul>
            <li class="<%= yield(:home) %>"><%= link_to "Home", root_path %></li>
            <li class="<%= yield(:about) %>"><%= link_to "About", simple_pages_about_path %></li>
            <li class="<%= yield(:contact) %>"><%= link_to "Contact", simple_pages_contact_path %></li>
            <li class="<%= yield(:products) %>"><%= link_to "Products", products_path %></li>
            <li class="<%= yield(:orders) %>"><%= link_to "Orders", orders_path %></li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="search">
            <ul>  
              <li>
                <% if user_signed_in? %>
                  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                <% else %>
                  <%= link_to('Login', new_user_session_path) %>
                <% end %>    
              </li>
              <li>
                <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
                <%= form.text_field :q, id: 'q', value: params[:q], class: "form-controll", placeholder: " Looking for a Bike?" %>
                <%= form.submit 'Search', class: 'btn btn-primary', id: "searchbutton"%>
                <% end %>
              </li>
            </ul>
         </div> 
        </div>
      </div>
    </div>
	</nav>

  <% if notice %>
    <p class="alert alert-success">
    <%= notice %></p>
  <% end -%>  
  
  <% if alert %>
  <p class="alert alert-danger">
    <%= alert %></p>
  <% end -%>  

    <%= yield %>

    <footer class="site-footer">
	  &copy; 2018 Bike Düsseldorf
	</footer>

  </body>
</html>
